.custom-design-ring-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.custom-design-ring-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(180deg, #f5f7fa00 80%, #d8d8d9 100%);
  padding-bottom: 16px;
  flex: 0;

  // &::after {
  //     content: '';
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     background-color: linear-gradient(180deg, #f5f7fa00 80%, #d8d8d9 100%);
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  // }
}

.custom-design-ring-bottom-container {
  display: flex;
  align-items: center;
//   background-color: #f7eed4e8;
  border-radius: 8px;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0;
  flex: 1;
}

// 隐藏滚动条样式
.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
  
  // Webkit浏览器 (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    display: none;
  }
  
  // Firefox
  scrollbar-width: none;
  
  // IE/Edge
  -ms-overflow-style: none;
}
