.result-container {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding-bottom: calc(env(safe-area-inset-bottom) + 24px);
  padding-bottom: calc(constant(safe-area-inset-bottom) + 24px);

  // background: linear-gradient(
  //   180deg,
  //   rgba(191, 170, 142, 0.5) 0%,
  //   rgba(252, 245, 240, 0.8) 19.55%,
  //   #fffcfa 100%
  // ), var(--bg-image) center/cover;
  // backdrop-filter: blur(48px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* 背景图设置 */
    background: var(--bg-image) center/cover;

    /* 模糊效果 */
    // backdrop-filter: blur(48px);

    /* 确保模糊层在内容之下 */
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(
      180deg,
      rgba(191, 170, 142, 0.3),
      rgba(252, 245, 240, 0.6) 50%,
      #fffcfa 90%
    );
    backdrop-filter: blur(48px);
    /* 确保渐变层在模糊背景之上，内容之下 */
    z-index: -1;
  }

  .result-content-container {
    padding: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;

    .result-content-bg-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      opacity: 0.2;
    }
    .result-content-card {
      width: 100%;
      height: 520px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background: linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #aeaba836 0, #ffffffb8 75%, #ffffff52 100%)
          border-box;
      border: 4px solid transparent;
      border-radius: 10px;

      .result-content-card-image {
        position: relative;
        width: 100%;
        height: 256px;
        flex-shrink: 0;
        border-radius: 6px 6px 0 0;
        // background: linear-gradient(180deg, #ffffff00 80%, #ffffff 100%),
        //   var(--bg-image) center/cover;
        background: var(--bg-image) center/cover;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          background: linear-gradient(180deg, #ffffff00 80%, #ffffff 100%);
        }

        .logo-image-container {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0px 6px 0px 10px;
          padding: 6px 11px;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.6) 0%,
              rgba(255, 255, 255, 0.6) 100%
            ),
            rgba(0, 0, 0, 0.07);

          backdrop-filter: blur(2px);
        }

        .logo-image {
          width: 48px;
        }

        .expend-image {
          position: absolute;
          width: 16px;
          height: 16px;
          bottom: 20px;
          right: 20px;
        }
      }

      .result-content-card-text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 24px;
      }

      .result-content-card-text {
        position: relative;
        width: 55%;
        color: #1f1722;
        padding: 0 24px;

        .result-content-card-text-title {
          font-weight: 400;
          font-size: 40px;
          letter-spacing: 2px;
          margin-bottom: 24px;
          font-family: "GlobalFont", "SimSun", "宋体", serif;
        }

        .result-content-card-text-content {
          font-size: 12px;
          height: 36px;
          position: relative;
          overflow: hidden;

          &::after {
            content: "...";
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    .bead-description-container {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
    }

    .bead-description-list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .bead-title {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        gap: 4px;
        margin-bottom: 4px;
        font-family: "Source Han Serif CN", "SimSun", "宋体", serif;
      }

      .bead-description {
        font-size: 11px;
        font-weight: 300;
        line-height: 100%;
        padding-left: 24px;
      }
    }

    .bead-share-rccode {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .bead-share-rccode-text {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .result-content-card-action {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
  }
}
