.chatMessagesContainer {
  display: flex;
  flex-direction: column;

  .chatMessageItemContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.assistantMessageContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  .assistantMessageBubble {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 2px 20px 20px 20px;
    background: #fbf7f5;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.04);
  }
}

.userMessageContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .userMessageBubble {
    display: flex;
    padding: 12px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 20px 0px 20px 20px;
    background: linear-gradient(
      180deg,
      #fff1dd 0%,
      #ffefd7 30.77%,
      #ffebd4 100%
    );
  }
}
