.chat-bubble {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 10px;
  border: 1.273px solid #fff;
  background: linear-gradient(
    135deg,
    rgba(255, 253, 250, 0.58) 0%,
    rgba(244, 242, 238, 0.6) 17.99%,
    rgba(244, 242, 238, 0.47) 37.47%,
    rgba(244, 242, 238, 0.21) 100%
  );
  box-shadow: 0px 4px 6.1px 0px rgba(255, 255, 255, 0.43) inset,
    7px 63px 18px 0px rgba(0, 0, 0, 0), 4px 40px 16px 0px rgba(0, 0, 0, 0),
    0px 4px 4px 0px rgba(0, 0, 0, 0.04),
    1px 10px 20px 0px rgba(83, 73, 68, 0.03),
    0px 3px 6px 0px rgba(217, 205, 199, 0.07);
  backdrop-filter: blur(10px);

  color: #1f1722;

  font-family: "Noto Sans SC";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%; /* 17.55px */
}

@keyframes chat-bubble-animation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
