.history-operation-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 16px;
}

.history-operation-item {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}