.bead-selector-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 0px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.40);
  z-index: 1;
}

.bead-selector-tabs-container {
  padding: 16px 12px 0 12px;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.wuxing-tabs {
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  border-radius: 0;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
  overflow-x: auto;

  /* 隐藏滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wuxing-tabs-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.wuxing-tab {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.60);
  color: rgba(0, 0, 0, 0.60);
  text-align: center;
  font-family: "Source Han Serif CN";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  white-space: nowrap;
  /* 118.182% */

  &.active {
    border-radius: 50px;
    background: #332E2A;
    color: #FFE9C3;
  }
}

.bead-count {
  font-size: 11px;
  font-weight: 500;
  opacity: 1;
  color: inherit;
  line-height: 1.2em;
}

.bead-selector-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  gap: 12px;
  border-radius: 0;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;

  /* 隐藏滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.accessories-selector-content {
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
  gap: 12px;
  border-radius: 0;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;

  /* 隐藏滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}


.bead-type-section {
  width: 100%;
}

.bead-list-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  align-items: center;

  /* 隐藏滚动条 - Webkit浏览器 */
  &::-webkit-scrollbar {
    display: none;
  }

  /* 隐藏滚动条 - Firefox */
  scrollbar-width: none;

  /* 隐藏滚动条 - IE/Edge */
  -ms-overflow-style: none;
}

.bead-item {
  flex-shrink: 0;
  width: 88px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);

  background: #FFF;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.bead-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 72px;
  border-radius: 4px;
}

.bead-image {
  object-fit: contain;
}

.bead-name {
  font-size: 12px;
  color: #333;
  text-align: center;
}

.bead-diameter {
  font-size: 10px;
  color: #8e7767;
  text-align: center;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bead-selector-container-flex {
  flex: 1;
  min-height: 0;
}

.bead-selector-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wuxing-tabs-wrapper {
  &.with-annotation {
    .wuxing-tabs {
      margin-bottom: 0px;
    }
  }

  &.without-annotation {
    .wuxing-tabs {
      margin-bottom: 16px;
    }
  }
}

.wuxing-tab-recommended {
  &:not(.active) {
    background-color: #FAEAD3;
  }
}

.xi-yong-annotation {
  margin-left: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 14px;
  display: flex;
  align-items: center;

  .xi-yong-text {
    font-size: 10px;
    color: #A0836D;
    line-height: 10px;
  }
}